# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.qmlc

# Translations
*.mo
*.pot

# Models
models/mark.stl
models/~$CDEFGHIJKLMNOPQRSTUVWXYZ.docx
models/ABCDEFGHIJKLMNOPQRSTUVWXYZ.docx
models/Arial Rounded MT/mark.stl
*.tmp
